

body {
  background-color: #DCE5E2;
}

main{
  display:flex;
  align-items: center;
  flex-direction: column;

}

#logokontakt img {
  width: 100%;
}

#logokontakt {
  display: flex;
  justify-content: center;
}

#overskrift {
  margin-top: 25px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #4D7373;
}

#tekst {
  margin-top: 25px;
  max-width: 30%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #4D7373;
  text-align: center;
}

#knap {
  margin: 25px;
  display: flex;
  justify-content: center;
}

#button {
  color: #4D7373;
  text-decoration: none;
  text-align: center;
  background-color: #F59C6B;
  border: none;
  padding: 10px 20px;
  margin: 4px 2px;
  border-radius: 16px;
}

#button:hover {
  color: #F59C6B;
  background-color: #4D7373;
  transition: 0.5s;
}

#kontaktinfo p {
  display: flex;
  justify-content: center;
  color: #4D7373;
  margin: 5px;
}