/*MOBIL*/
@media screen and (max-width:910px) {

    
    /*TOPVIDEO*/
    #frontVidContainer button {
        font-size: 8px;
        border-radius: 8px;
        
        top:45%;
        padding: 5px 10px;
        background-color: #F59C6B;
        color: #DCE5E2;
    }
    

    #hello{
        position: absolute;
    
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25pt;
    
        color: #DCE5E2;
        text-transform: uppercase;
    }
    
    #nfp {
        position: absolute;
    
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 17pt;
        line-height: 1.1em;
    
    }
    
    
    /*PARALLAX*/
    #roomTat { /*TODO: ÆNDRE BILLEDE STØRRELSE*/
        /*img used*/
        background-image: url(images/lokale/rasshygge2.jpg);
    
        /*specific height*/
        min-height: 500px;
    
        /*parallax scrolling effect*/
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #stemningsBilleder { /*TODO: ÆNDRE BILLEDE STØRRELSE*/
        /*img used*/
        background-image: url(images/lokale/lokale3.jpg);
    
        /*specific height*/
        min-height: 600px;
    
    
        /*parallax scrolling effect*/
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /*OM OS SEKTION*/
    #om {
        height:auto;
        padding: 10% 7% 10% 7%;
    }

    #om>div:nth-child(2) {
        width: 250%;
        padding-left: 20%;
    }

    
    #om>div:nth-child(2) h1,
    #besked h1 {
        margin-bottom: .5rem;
    }
    
    
    #om button {
        margin-top: .5rem;
        padding: 1.5% 4% 1.5% 4%;
        border-radius: 5px;
    }
    
    #shop img{
        border-radius: 10px;
        width: 100%;

    }

    #shop{
        top:0em;
        border-radius: 10px;
        background-color: transparent;
    }

    #roomPaintings{
        display:none;
    }
    
    
    /*ARTISTERNE*/
    #artister {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        padding-top: 12%;
    
        text-align: center;
        height: 10%;
    
    
        background-image: url(images/pynt/coconut.png), url(images/pynt/bg.png);
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        background-size: cover;
    
    }
    
    #artister h1 {
        margin-bottom: 5%;
    }
    
    #artistKort div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        perspective: 1000px;
    
        margin: 10px 30px 20px 30px;
    
        width: 80%;
    
        transition: .5s ease-in-out;
    
    }
    
    
    .indivArtist {
        position: relative;
        width: 50%;
    }
    
    .artist img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    
        border-radius: 30px 30px 10px 10px;
    
    }
    
    .artist {
        border-radius: 30px 30px 10px 10px;
        background-color: #4D7373;
    }
    
    .artistMere {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
        border-radius: 30px;
        padding: 4% 6% 4% 6%;
    }
    
    .indivArtist:hover .artist img,
    .indivArtist:hover .artist h2 {
        opacity: 0.2;
    }
    
    .indivArtist:hover .artistMere {
        opacity: 1;
    }
    
    #artistKort {
        position: relative;
        display: flex;
        flex-direction: row;
    }
    
    .artist>h2 {
        color: #DCE5E2;
        font-size: 30pt;
    
        position: absolute;
        top: 35%;
    }
    
    .artistTxtContainer {
        visibility: visible;
        position: absolute;
        text-align: center;
    
        color: #4D7373;
    
    
    }
    
    .artistTxtContainer p {
        padding-top: 1em;
        text-align: center;
    
        color: #4D7373;
    }
    
    
    
    
    /*KONTAKT OS SEKTION*/
    #besked {
        background-image: url(images/lokale/bgplante.JPG), url(images/pynt/bg.png);
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        background-size: cover;
    
        padding: 15%;
    
        text-align: center;
    }
    
    #besked p {
        padding: 0% 10% 0% 10%;
    }
    
    #besked>button {
        margin-top: 2em;
        padding: 1% 2% 1% 2%;
        border-radius: 10px;
    }

}
