* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: #DCE5E2;
    color: #4D7373;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}


main h1 {
    font-family: "espiritu", sans-serif;
    font-weight: 400;
    font-size: 2em;
    font-style: normal;
    text-transform: uppercase;

}

main h2{
    font-family: "espiritu", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;
    text-transform: uppercase;
}

main p,
button {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
}

#frontVidContainer video,
#om img,
#roomTat img,
#stemningsBilleder,
#shop img,
#roomPaintings img {
    width: 100%;
}

/*TOPVIDEO*/
#frontVidContainer {
    position: relative;
}

#frontVidContainer h1 {
    position: absolute;

    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 54px;

    color: #DCE5E2;
    text-transform: uppercase;

}

#frontVidContainer button {
    position: absolute;

    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;

    padding: 10px 30px 10px 30px;
    background-color: transparent;
    text-transform: uppercase;

    transition: .5s ease-in-out;

}

#frontVidContainer button:hover {
    padding: 10px 30px 10px 30px;
    background-color: #F59C6B;
    text-transform: uppercase;

}

#ikon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #F59C6B;
    font-size: 40px;

    animation: bounce 3s infinite;

}

@keyframes bounce{
    0%{top:85%;}
    50%{top:89%;}
    100%{top:85%;}
}

/*PARALLAX*/
#roomTat {
    /*img used*/
    background-image: url(images/lokale/rasshygge2.jpg);

    /*specific height*/
    min-height: 500px;

    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#stemningsBilleder {
    /*img used*/
    background-image: url(images/lokale/lokale3.jpg);

    /*specific height*/
    min-height: 600px;


    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*OM OS SEKTION*/
#om {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    padding: 5% 10% 5% 10%;

}

#om>div:nth-child(2){
    width:170%;
    padding-left:30%;
}

#om>div:nth-child(2) h1, #besked h1 {
    margin-bottom: 1.5rem;
}

#om>div:nth-child(2) p, #besked p {
    color: #4D7373;
    line-height: 1.5em;
}

button {
    margin-top: 1.5rem;
    padding: 1.5% 4% 1.5% 4%;
    border-radius: 10px;

    color: #F59C6B;
    background-color:transparent;
    border: 1px solid #F59C6B;

    transition: .5s ease-in-out;

}

button:hover {
    color: #DCE5E2;
    background-color: #F59C6B;
    border: 1px solid #F59C6B;

    cursor: pointer;
}

#shop,
#roomPaintings {
    position: relative;


    width: 120%;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(77, 115, 115, 1);
}

#shop img,
#roomPaintings img {
    border-radius: 20px;
    transform: scale(1);
    opacity: 1;
    width: 100%;
    transition: 1s ease-in-out;
}

#shop img:hover,
#roomPaintings img:hover {
    opacity: .8;
    transform: scale(1.1);

}

#shop {
    top:3em;
    z-index: 1;
}

#roomPaintings {
    z-index: 0;
    position: relative;
    left: 15em;
    bottom: 2em;
}

/*ARTISTERNE*/
#artister {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10%;
    padding-top:12%;

    text-align: center;
    height:5%;


    background-image: url(images/pynt/coconut.png), url(images/pynt/bg.png);
    background-repeat: no-repeat;
    background-blend-mode:overlay;
    background-size: cover;

}

#artistKort div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;

    margin: 50px 30px 20px 30px;

    width:80%;

    transition:.5s ease-in-out;

}

#artistKort div:hover .artistTxtContainer{
    display:none;
}

#artistKort div:hover .artistMere{
    display:block;
}

.artist:hover{
    transform-style: preserve-3d;
    transform: rotateX(25deg);

}

#artistKort {
    position: relative;
    display: flex;
    flex-direction: row;
}

#artistKort:hover {
    position: relative;
    display: flex;
    flex-direction: row;

}

.artist img{
    position: relative;
    border-radius: 30px 30px 10px 10px;
    z-index: 0;
    width: 100%;
}

.artist > h2{
    color:#DCE5E2;
    font-size: 30pt;

    position:absolute;
    top:35%;
}

.artistTxtContainer {
    display:block;
    position: absolute;
    text-align: center;

    color:#4D7373;

    transition:.5s ease-in-out;

}

.artistMere{
    display:none;
    position: relative;
    transition:.5s ease-in-out;

    padding:3% 6% 3% 6%;
}

.artistTxtContainer p {
    padding: 20px;

    text-align: center;

    color: #4D7373;
}


/*KONTAKT OS SEKTION*/
#besked{
    background-image: url(images/lokale/bgplante.JPG), url(images/pynt/bg.png);
    background-repeat: no-repeat;
    background-blend-mode:overlay;
    background-size: cover;

    padding:15%;

    text-align: center;
}

#besked p{
    padding:0% 10% 0% 10%;
}

#besked > button {
    margin-top: 2em;
    padding: 1% 2% 1% 2%;
    border-radius: 10px;

    color: #F59C6B;
    background-color: transparent;
    border: 1px solid #F59C6B;

    transition: .5s ease-in-out;
}

#besked > button:hover {
    color: #DCE5E2;
    background-color: #F59C6B;
    border: 1px solid #F59C6B;

    cursor: pointer;
}